.Comments{
	background-color: #999999;
}
.Comments{
	background-color: #999999;
	//color: #000000;
}

.Moz>p {
margin: 0 0 10px;
}

/*====Menu====*/

.MenuText  {
	font-size:18px;
	color: #f0f0f0;
 }
.Red {
	color: Red;
}

.Blue {
	color: Blue;
}

.Green {
	color: Green;
}
 
 
/**/
.curved-hz-2 {
    padding:1em;
    margin:2em 10px 4em;
    background:#fff;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
 
.curved-hz-2:before,
.curved-hz-2:after {
    content:"";
    position:absolute;
    z-index:-2;
}
 
.curved-hz-2:before {
    top:0px;
    bottom:0px;
    left:10px;
    right:10px;
    -webkit-box-shadow:0 0 15px rgba(0,0,0,0.6);
       -moz-box-shadow:0 0 15px rgba(0,0,0,0.6);
            box-shadow:0 0 15px rgba(0,0,0,0.6);
    -moz-border-radius:100px / 10px;
         border-radius:100px / 10px;
}
 
.curved-hz-2 p {
    font-size:16px;
    font-weight:bold;
}        

.curved-hz-1 {
    padding:1em;
   margin: 10px Auto 5px;
    background:#fff;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
 
.curved-hz-1:before,
.curved-hz-1:after {
    content:"";
    position:absolute;
    z-index:-2;
}
  
 #wrap {
	position: absolute;
	top: 5px;
	left: 0.5%;
	width: 99%;
 }
 

 
 #MenuNav {
	
 }

@font-face {
  font-family: 'Catenary Stamp';

  src: url('../fonts/Catenary Stamp.ttf');
  src: url('../fonts/Catenary Stamp.ttf') format('truetype');
}
.navbar-brand {
  font-family: 'Catenary Stamp';
  font-size: 48px;
}